body { 
  padding-top: 5em; 
}

.padding { 
  padding-top: 2em;
}

.navbar-center{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height:100%;
}

.navbar-brand {
  float: none;
}
