body { 
  padding-top: 10em; 
  font-family: inherit;
  font-size: 11px;
}

.logo { 
  font-family: 'Rosario', sans-serif; 
}

.padding { 
  padding-top: 2em;
}

.padding-right { 
  padding-right: 2em;
}

.navbar-center{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height:100%;
}

.navbar-brand {
  float: none;
}
